/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body{
	background-color: #FFF;
}

/*******************************HEAD**********************/
header#fondo_horizontal_header {
	background:url(../img/fondo_horizontal_header.jpg) top center repeat-x;
	padding-bottom:22px;
	overflow:hidden;
}

.fondo_sombra_header{
	width:auto;
	background-color:transparent;
}

#logo {
	text-align:center;
	height:auto;
	margin-top:16px;
}

#logo img {
	width:100%;
	max-width:220px;
	max-height:100%;
}

#logo img:hover {
	opacity:0.8;
	-webkit-transition: opacity 0.4s ease-in-out;
   -moz-transition: opacity 0.4s ease-in-out;
   -o-transition: opacity 0.4s ease-in-out;
   -ms-transition: opacity 0.4s ease-in-out;
   transition: opacity 0.4s ease-in-out;
}

#espacio1_head {
	height:10px;
}

/*******CONTENEDOR MENU SUEPRIOR*******/
nav h2{
	display:none;
}

#barramenu {
	height:auto;
	margin-top:89px;
}

/**************************CONTENEDOR FONDO HORIZONTAL, SOMBRA, CABEZOTE***************************/
.fondo_horizontal_cabezote{
	width:100%;
	height:auto;
}

/*************************CONTENEDOR COMUNÃQUESE Y DISTRIBUIDORES HOME**********************************/
section#fondo_horizontal_ltelefonica_distrib_home {
	padding:15px 0px;
}

#comuniquese_nosotros {
	text-align:justify;
	position:relative;
	font-family: 'Oswald', sans-serif;
}

#comuniquese_nosotros img {
	width:100%;
	max-width:220px;
	max-height:100%;
	display:inline-block;
	vertical-align:middle;
}

#telefonos {
	position:absolute;
	top:0px;
	right:-210px;
	padding-left:30px;
	text-align:right;
	font-style:italic;
	font-size:35px;
	color: #334B98;
	
}

#texto_ciudad {
	position:absolute;
	bottom:5px;
	right:-185px;
	text-align:right;
	font-style:italic;
	font-size:15px;
	color:#87868a;
}

#espacio_ltelefonica_distrib_home {
	height:10px;
}

#contenedor_distribuidores_home {
	text-align:justify;
}

#contenedor_distribuidores_home h5 {
	color:#001d7e;
	font-style:italic;
}

#contenedor_distribuidores_home img {
	width:100%;
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
}


/*************************CONTENEDOR FONDO HORIZONTAL PRODUCTOS DESTACADOS HOME**********************************/
section#fondo_horizontal_productos_home {
	background-color:#cff0ff;
	padding:25px 0px;
}

#thumbs_productos_destacados_home {
	height:auto;
	text-align:center;
	margin-left:100px;
	margin-right:20px;
	color:#3c3c3c;
	


}

#thumbs_productos_destacados_home img {
	width:280px;
	height:280px;
	border:2px solid #a2dcf5;
	border-radius:100%;
	background-color:#6acdf9;
	padding:15px;
	margin-bottom:10px;
	max-width:280px;
	max-height:100%;
	box-shadow:0px 1px 2px 0px #000000;
	-moz-box-shadow:0px 1px 2px 0px #000000;
	-ms-box-shadow:0px 1px 2px 0px #000000;
	-o-box-shadow:0px 1px 2px 0px #000000;
	-webkit-box-shadow:0px 1px 2px 0px #000000;
}

#thumbs_productos_destacados_home img:hover {
	opacity:0.85;
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

#thumbs_productos_destacados_home .titulo_thumbs_productos_destacados_home {
	font-family: 'Oswald', sans-serif;
	text-align:center;
	font-size:24px;
	color:#001d7e;
	text-transform:uppercase;
}

/*****************CONTENEDOR PUBLICIDAD HOME****************/
#contenedor_publicidad_home {
	text-align:center;
	display:block;
	margin-bottom:30px;
}

#contenedor_publicidad_home img {
	width:100%;
	max-width:100%;
	max-height:100%;
}

/*****************SECCION NUESTROS CLIENTES*********************/
#fondo_horizontal_nclientes {
	padding:0px 0px 20px 0px;
}

#titulo_nclientes {
	text-align:center;
	margin-bottom:15px;
	font-size:24px;
	color:#164093;
	font-family: 'Oswald', sans-serif;
	padding:5px 0px;
}

#fotos_clientes {
	padding:0px;
}

/*****************CONTENEDOR POR QUE ELEGIRNOS Y NOVEDADES***************/
#fondo_horizontal_elegirnos_novedades{
	padding:20px 0px 35px;
}

/******POR QUE ELEGIRNOS******/
#pqelegirnos {
	text-align:justify;
	padding:50px 0px;
}

#pqelegirnos h4 {
	color:#001d7e;
	margin:0px 0px 10px 0px;
	text-transform:uppercase;
	font-size:29px;
	border-bottom:0px;
	padding:30px 0px 0px 0px;
}

#pqelegirnos img {
	display:inline-block;
}

#pqelegirnos #texto_elegirnos {
	width:100%;
	padding:15px 20px 0px;
}

/*****ESPACIO NOVEDADES , ELEGIRNOS*****/
#espacio_novedades_elegirnos {
	height:10px;
}

/******NOVEDADES HOME******/
#novedades_home {
	text-align:justify;	
}

#novedades_home h4 {
	color:#001d7e;
	margin:0px 0px 10px 0px;
	text-transform:uppercase;
}

#novedades_home a {
	text-decoration:none;
	color:#000;
}

#novedades_home a:hover {
	color:#001d7e;
}

#novedades_home #thumbs_novedades_home {
	width:100%;
	height:105px;
	padding:6px;
	border-bottom:1px solid #C7C7C7;
	margin-bottom:10px;
}

#novedades_home #thumbs_novedades_home:hover {
	background-color:#EFEFEF;
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   border-radius:10px;
}

#novedades_home #thumbs_novedades_home span {
	color:#000;
	font-size:20px;
	font-family: 'Oswald', sans-serif;
}

#novedades_home #thumbs_novedades_home img {
	width:100%;
	max-width:100px;
	max-height:100%;
	background-color:#E9E9E9;
	padding:2px;
	margin-right:15px;
	margin-bottom:10px;
}

.boton_veralls_noved {
	float:right;
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	font-weight:600;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

.boton_veralls_noved a {
	text-decoration:none;
	color:#FFF !important;
}

.boton_veralls_noved a:hover {
	color:#f1f1f1 !important;
}

.boton_veralls_noved:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.boton_veralls_noved:active {
	position:relative;
	top:1px;
}


/*************CONTENEDOR BARRAs DERECHA E IZQUIERDA****************/
#contenedor_barraizquierda_derecha {
	padding-bottom:30px;
}

/************CONTENEDOR BARRA DERECHA***********/
#barraderecha {
	text-align:center;
}

#barraderecha img {
	width:100%;
	max-width:220px;
	max-height:100%;
}

/********CONTENIDO A 11 COLUMNNAS - INTERNAS*********/
.contenido{
	width:auto;
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
}

.contenido h2 {	
	text-align:justify;
	color:#000;
}

.contenido span {
	text-align:justify;
	color:#134196;
	font-size:16px;
}

.contenido p {
	text-align:justify;
}

.contenido a {
	text-decoration:none;
	color:#66b7e3;	
}

.contenido a:hover {
	color:#003e5d;
	-webkit-transition: color 0.4s ease-in-out;
   -moz-transition: color 0.4s ease-in-out;
   -o-transition: color 0.4s ease-in-out;
   -ms-transition: color 0.4s ease-in-out;
   transition: color 0.4s ease-in-out;
}

.contenido a#enlaces_indice {
	text-decoration:none;
	color:#000;
}

.contenido img#foto_contenido {
	margin-bottom:10px;
}

.contenido ul,ol {
	margin-left:0px;
	list-style-image:none;
	color:#a5a5a5;
}

.contenido ul li {
	width:665;
	text-align:left;
	margin-left:25px;
}

.contenido ul li a {
	text-decoration:none;
	color:#a5a5a5;	
}

.contenido ul li a:hover {
	color:#005faa;	
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.contenido img {
	max-width:660px;
	max-height:100%;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
}

img#medidas_boton {
	width:100%;
	max-width:125px;
	max-height:100%;
	text-align:center;
	margin:0px;
	
}

/*****AJUSTTES DE IMAGENS Y VIDEO PARA CUANDO SE VEA EN TABLETAS Y MOVILES*******/
#ajuste_imagen_superior {
	text-align:center;
	height:150px;
}

#ajuste_imagen_superior img {
	width:100%;
	max-width:940px;
	max-height:100%;
}

#ajuste_imagen_logo {
	width:100%;
	max-width:220px;
	max-height:100%;
}

object,embed {
	width:220px;
}

/************THUMBS PRODUCTOS VITRINA INDICE - CATEGORIA************************/
#thumbs_productos_indice {
	height:270px;
	text-align:center;
	margin:15px 7px;
}

#thumbs_productos_indice img {
	width:100%;
	max-width:100%;
	max-height:100%;
	padding:2px;
	background-color:#f0f0f0;
	margin:0px 0px 10px 0px;		
}

#thumbs_productos_indice img:hover{
	opacity:0.85;
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out; 
}

#thumbs_productos_indice .titulo_producto_indice {
	text-align:center;
	font-size:14px;
	color:#001d7e;
	text-transform:uppercase;
	font-weight:400;
	font-family: 'Oswald', sans-serif;
}

/************THUMBS PRODUCTOS VITRINA************************/
#thumbs_productos_vitrina {
	height:200px;
	text-align:center;
	margin:15px 7px;
}

#thumbs_productos_vitrina img {
	width:100%;
	max-width:100%;
	max-height:100%;
	padding:2px;
	background-color:#f0f0f0;
	margin:0px 0px 10px 0px;		
}

#thumbs_productos_vitrina img:hover{
	opacity:0.85;
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out; 
}

#thumbs_productos_vitrina .titulo_producto_vitrina {
	text-align:center;
	font-size:14px;
	color:#001d7e;
	text-transform:uppercase;
	font-weight:400;
	font-family: 'Oswald', sans-serif;
}

/*******************CONTENIDO AMPLIADO PRODUCTOS*******************/
#resumen_productos_amp {
	width:100%;
	text-align:justify;
	margin:20px 0px;
	float:left;
}

#caracteristicas_tecnicas {
	text-align:justify;
	margin:0px 0px 0px 10px;
}

#caracteristicas_tecnicas h6 {
	color:#001d7e;
	text-transform:uppercase;
}

#caracteristicas_tecnicas_producto {
	border-bottom:1px solid #cdcdcd;
	padding-bottom:15px;
	margin-bottom:10px;	
}

#caracteristicas_tecnicas_producto span {
	font-weight:700;
	text-transform:uppercase;
	color:#3E3E3E;
}

#fotos_productos {
	text-align:center;
	margin:0px 10px 0px 0px;
}

/***********************ALINEACIÃ“N BOTONES MAS, REGRESAR***************************/
.alineacion_derecha {
	width:auto;
	float:right;
	margin-top:10px;
	clear:both;
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	font-weight:600;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

.alineacion_derecha a {
	text-decoration:none;
	color:#FFF;
}

.alineacion_derecha a:hover {
	color:#F1F1F1;
}

.alineacion_derecha:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.alineacion_derecha:active {
	position:relative;
	top:1px;
}

.thumbs_lista_indice .alineacion_derecha_indice {
	width:26px;
	height:26px;
	position:absolute;
	bottom:0px;
	right:0px;
	background-color:#656c74;
}

.thumbs_lista_indice .alineacion_derecha_indice a:hover{
	width:26px;
	height:26px;
	position:absolute;
	bottom:0px;
	right:0px;
	background-color:#9a1629;
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

/********************BOTON VER VIDEOS*******************/
.boton_ver_videos {
	margin-top:10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:31px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

.boton_ver_videos a {
	text-decoration:none;
	color:#FFF;
}

.boton_ver_videos a:hover {
	color:#F1F1F1;
}

.boton_ver_videos:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}

.boton_ver_videos:active {
	position:relative;
	top:1px;
}


/********************CREDITOS*************************/
footer#fondo_horizontal_creditos {
	height:auto;
	background-color:#1a2540;
	padding-top:22px;
	padding-bottom:22px;
}

#creditos{
	text-align:center;
	color:#FFF;
	font-weight:400;
	font-size:12px;
}

#creditos a{
	color:#b2b2b2;
}

#creditos a:hover{
	color:#F1F1F1;
	-webkit-transition: color 0.4s ease-in-out;
   -moz-transition: color 0.4s ease-in-out;
   -o-transition: color 0.4s ease-in-out;
   -ms-transition: color 0.4s ease-in-out;
   transition: color 0.4s ease-in-out;
}

address#ancho_address {
	width:auto;
	float:left
}

#espacio_credito {
	height:10px;
}

/***************BOTON PARA SUBIR**************/
a#top {
	width:38px;
	height:38px;
	line-height:0px;
	border-radius:100%;
    border: 3px solid rgba(140, 204, 239, 0.8);	    
    color:rgba(255, 255, 255, 0.8);
	background-color:rgba(38, 143, 201, 0.8);
    display: none;
    font-size: 20px;
    font-weight: 400;
    position:fixed;
    right: 10px;
	bottom:10px;
    z-index:1000;
	padding:6px;
	text-decoration:none;
	text-align:center;
}

a#top:hover {
	color: rgba(255, 255, 255, 1);
	-webkit-transition: color 0.4s ease-in-out;
   -moz-transition: color 0.4s ease-in-out;
   -o-transition: color 0.4s ease-in-out;
   -ms-transition: color 0.4s ease-in-out;
   transition: color 0.4s ease-in-out;
}

.flecha-up {
    width:0px;
    height:0px;
	margin-top:6px;
	margin-left:2px;
    border-left:8px solid transparent; /* izquierda flecha */
    border-right:8px solid transparent; /* derecha flecha */
    border-bottom:8px solid #F1F1F1; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
 }
 
 .flecha-up:hover {
    width:0px;
    height:0px;
	margin-top:6px;
	margin-left:2px;
    border-left:8px solid transparent; /* izquierda flecha */
    border-right:8px solid transparent; /* derecha flecha */
    border-bottom:8px solid #000; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
 }

/*******************************************THUMBS CONTENIDOS INDICE****************************/
.thumbs_contenidos_indice {
	width:100%;
	float:left;
	margin-bottom:25px;
	border-bottom:1px solid rgba(187,187,187,0.8);
	padding:7px 7px 20px 7px;
	position:relative;
}

.thumbs_contenidos_indice:hover {
	background-color:#EFEFEF;
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   border-radius:10px;	
}

.thumbs_contenidos_indice h2{
	color:#000;
	text-align:left;
	margin-bottom:10px;
}

/*.thumbs_contenidos_indice #foto_indice{
	margin-right:8px;
	margin-bottom:8px;
}*/

.thumbs_contenidos_indice img#foto_indice {
	width:100%;
	max-width:200px;
	max-height:100%;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:0px;
	margin-left:0px;
	background-color:#E9E9E9;
	padding:2px;
}

.thumbs_contenidos_indice img:hover{
	opacity:0.7;
	-webkit-transition: opacity 0.4s ease-in-out;
   -moz-transition: opacity 0.4s ease-in-out;
   -o-transition: opacity 0.4s ease-in-out;
   -ms-transition: opacity 0.4s ease-in-out;
   transition: opacity 0.4s ease-in-out;
}

.thumbs_contenidos_indice .alineacion_derecha_indice {
	position:absolute;
	bottom:5px;
	right:0px;
	width:auto;
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	font-weight:600;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

.thumbs_contenidos_indice .alineacion_derecha_indice a {
	text-decoration:none;
	color:#FFF;
}

.thumbs_contenidos_indice .alineacion_derecha_indice a:hover {
	color:#F1F1F1;
}

.thumbs_contenidos_indice .alineacion_derecha_indice:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}


/***IMAGEN DE LAS VISTAS AMPLIADAS*****/
.vistas_ampliadas {
	width:520px;
	float:left;
	margin-top:10px;
	margin-bottom:20px;
	margin-left:90px;
	margin-right:90px;
	text-align:center;
}

.vistas_ampliadas img {
	width:100%;
	max-width:520px;
	max-height:100%;
}

/***********************************************/
/* Estilos para Formularios       */
/***********************************************/
.politicas_uso{
	width:430px;
	height:100px;
	overflow:auto;
	padding:0px 5px;
}

input#bsubmit {
	float:right;
	margin-top:4px;
}

input#i_text_buscar {
	color:#6b5646;
	background-color:#e3e3e3;
	border:3px solid #d2d2d2;
	padding:0px 5px;
	width:236px;
	height: 25px;
	float:left;
	border-radius:20px;
	margin-bottom:0px;
}

input#i_text_buscar:hover {	
	background-color:#F1F1F1;
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

input#i_text_buscar:focus {
	border:3px solid #b2c84a;
}

.i_label{
    width: auto;
	margin-top:12px;
	margin-bottom:8px;
	font-weight:700;
	padding:5px 0px 5px 0px;

}

.i_text{
    width: auto;
    height: 35px;
	padding: 0px 0px 5px 5px;
	width:430px !important;

}

.i_combo{
    width: auto;
    height: 30px;
	padding: 0px 0px 0px 5px;
	width:430px !important;

}

textarea{
	color:#333;
	padding-left:5px;
	width: auto;
	height: 25px;
}


/*************************************PAGINADOR***********************/
.wqueryPager {
	text-align: center;
	clear: both;
	margin-bottom:10px;
}

.wqueryPager a{
	text-decoration:none;
	text-align: center;
	color:#b20062;
	clear: both;
}

.wqueryPager a:hover{
	color:#333;
	clear: both;
}

.wqueryPagerCurrent {
    margin:0px;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) X 768px, 268px, ETC*/
	/*Tablests */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		h1 {
			margin-top:10px !important;
		}
		
		/*******************************HEAD**********************/
		header#fondo_horizontal_header {
			background:url(../img/fondo_horizontal_header.jpg) top center repeat-x;
			padding-bottom:22px;
		}
		
		.fondo_sombra_header{
			width:auto;
			background-color:transparent;
		}
		
		#logo {
			text-align:center;
			height:auto;
			margin-top:16px;
			position: relative;
			left: 250px;
		}
		
		#logo img {
			width:100%;
			max-width:220px;
			max-height:100%;
		}
		
		#logo img:hover {
			opacity:0.8;
			-webkit-transition: opacity 0.4s ease-in-out;
		   -moz-transition: opacity 0.4s ease-in-out;
		   -o-transition: opacity 0.4s ease-in-out;
		   -ms-transition: opacity 0.4s ease-in-out;
		   transition: opacity 0.4s ease-in-out;
		}
		
		#espacio1_head {
			height:10px;
		}
		
		/*******CONTENEDOR MENU SUEPRIOR*******/
		nav h2{
			display:none;
		}
		
		#barramenu {
			height:auto;
			margin-top:89px;
		}
		
		/*************************CONTENEDOR COMUNÃQUESE Y DISTRIBUIDORES HOME**********************************/
		section#fondo_horizontal_ltelefonica_distrib_home {
			padding:15px 0px;
		}
		
		#comuniquese_nosotros {
			text-align:justify;
			position:relative;
			font-family: 'Oswald', sans-serif;
		}
		
		#comuniquese_nosotros img {
			width:100%;
			max-width:180px;
			max-height:100%;
			display:inline-block;
			vertical-align:middle;

		}
		
		#telefonos {
			position:absolute;
			top:10px;
			right:-140px;
			padding-left:30px;
			text-align:right;
			font-style:italic;
			font-size:18px;
			color:#5dc4f3;	
		}
		
		#texto_ciudad {
			position:absolute;
			bottom:0px;
			right:-180px;
			text-align:right;
			font-style:italic;
			font-size:15px;
			color:#87868a;
		}
		
		#espacio_ltelefonica_distrib_home {
			height:10px;
		}
		
		#contenedor_distribuidores_home {
			text-align:justify;
		}
		
		#contenedor_distribuidores_home h5 {
			color:#001d7e;
			font-style:italic;
		}
		
		#contenedor_distribuidores_home img {
			width:100%;
			max-width:80px;
			max-height:100%;
			display:inline-block;
			vertical-align:middle;
		}		
		
		/*************************CONTENEDOR FONDO HORIZONTAL PRODUCTOS DESTACADOS HOME**********************************/
		#thumbs_productos_destacados_home {
			height:auto;
			text-align:center;
			margin-left:80px;
			margin-right:17px;
			color:#3c3c3c;

		}
		
		#thumbs_productos_destacados_home img {
			width:220px;
			height:220px;
			border-radius:100%;
			background-color:#6acdf9;
			padding:15px;
			margin-bottom:10px;
			border:2px solid #a2dcf5;
			max-width:220px;
			max-height:100%;
			box-shadow:0px 1px 2px 0px #000000;
			-moz-box-shadow:0px 1px 2px 0px #000000;
			-ms-box-shadow:0px 1px 2px 0px #000000;
			-o-box-shadow:0px 1px 2px 0px #000000;
			-webkit-box-shadow:0px 1px 2px 0px #000000;
		}
		
		/************THUMBS PRODUCTOS VITRINA INDICE - CATEGORIA************************/
		#thumbs_productos_indice {
			height:210px;
			text-align:center;
			margin:15px 7px;
		}	
		
		/************THUMBS PRODUCTOS VITRINA************************/
		#thumbs_productos_vitrina {
			height:150px;
			text-align:center;
			margin:15px 7px;
		}

		/************CONTENEDOR BARRA DERECHA***********/
		#barraderecha {
			text-align:center;
		}
		
		#barraderecha img {
			width:100%;
			max-width:172px;
			max-height:100%;
		}
		
		/*******************************************THUMBS CONTENIDOS INDICE****************************/
		.thumbs_contenidos_indice img#foto_indice {
			width:100%;
			max-width:172px;
			max-height:100%;
			margin-right:8px;
			margin-bottom:8px;
			margin-top:0px;
			margin-left:0px;
		}
		
		/*******************************CONTENIDO DEL SITIO*******************/
		.contenido img {
			max-width:536px;
			max-height:100%;
			margin-top:0px;
			margin-bottom:10px;
			margin-left:0px;
			margin-right:0px;
		}
		
		/* This rule is read by Galleria to define the gallery height: */
		#galleria{height:500px !important;}
		
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) X 420px*/
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		h1 {
			font-size:19px !important;
			margin-top:10px !important;
		}
		
		/*******************************HEAD**********************/
		#logo {
			text-align:center;
			height:auto;
			margin-top:16px;
		}
		
		#logo img {
			width:100%;
			max-width:220px;
			max-height:100%;
		}
		
		#espacio1_head {
			height:10px;
			display:none;
		}
		
		/*******CONTENEDOR MENU SUEPRIOR*******/
		nav h2{
			display:none;
		}
		
		#barramenu {
			height:auto;
			margin-top:5px;
			display:none;
		}
		
		/*************************CONTENEDOR COMUNÃQUESE Y DISTRIBUIDORES HOME**********************************/
		section#fondo_horizontal_ltelefonica_distrib_home {
			padding:15px 0px;
		}
		
		#comuniquese_nosotros {
			text-align:left;
			position:relative;
			font-family: 'Oswald', sans-serif;			
		}
		
		#comuniquese_nosotros img {
			width:100%;
			max-width:220px;
			max-height:100%;
			display:inline-block;
			vertical-align:middle;
		}
		
		#telefonos {
			position:absolute;
			top:0px;
			right:20px;
			padding-left:30px;
			text-align:right;
			font-style:italic;
			font-size:35px;
			color:#334B98;	
		}
		
		#texto_ciudad {
			position:absolute;
			bottom:0px;
			right:20px;
			text-align:right;
			font-style:italic;
			font-size:15px;
			color:#87868a;
		}
		
		#espacio_ltelefonica_distrib_home {
			height:10px;
			display:block;
		}
		
		#contenedor_distribuidores_home {
			text-align:justify;
		}
		
		#contenedor_distribuidores_home h5 {
			color:#001d7e;
			font-style:italic;
		}
		
		#contenedor_distribuidores_home img {
			width:100%;
			max-width:100%;
			max-height:100%;
			display:inline-block;
			vertical-align:middle;
		}			
		
		/*************************CONTENEDOR FONDO HORIZONTAL PRODUCTOS, SERVICIOS Y CERTIFICACIÃ“N HOME**********************************/
		section#fondo_horizontal_productos_home {
			background-color:#cff0ff;
			padding:25px 0px 30px;
		}
		
		#thumbs_productos_destacados_home {
			height:auto;
			text-align:center;
			margin-left:0px;
			margin-right:0px;
			margin:0px 0px 30px;
			color:#3c3c3c;
		}
		
		/*****************CONTENEDOR PUBLICIDAD HOME****************/
		#contenedor_publicidad_home {
			text-align:center;
			display:none;
		}

		/************CONTENEDOR BARRA DERECHA***********/
		#barraderecha {
			text-align:center;
			margin-top:20px;
		}
		
		#barraderecha img {
			width:100%;
			max-width:220px;
			max-height:100%;
		}
		
		/*******************************************THUMBS CONTENIDOS INDICE****************************/
		.thumbs_contenidos_indice img#foto_indice {
			width:100%;
			max-width:420px;
			max-height:100%;
			margin-right:0px;
			margin-bottom:10px;
			margin-top:0px;
			margin-left:0px;
		}
		
		/************THUMBS PRODUCTOS VITRINA INDICE - CATEGORIA************************/
		#thumbs_productos_indice {
			height:auto;
			text-align:center;
			margin:15px 0px;
		}
		
		#thumbs_productos_indice img {
			width:100%;
			max-width:100%;
			max-height:100%;
			padding:2px;
			background-color:#f0f0f0;
			margin:0px 0px 10px 0px;		
		}
		
		#thumbs_productos_indice img:hover{
			opacity:0.85;
			-webkit-transition: all 0.4s ease-in-out;
		   -moz-transition: all 0.4s ease-in-out;
		   -o-transition: all 0.4s ease-in-out;
		   -ms-transition: all 0.4s ease-in-out;
		   transition: all 0.4s ease-in-out; 
		}
		
		#thumbs_productos_indice .titulo_producto_indice {
			text-align:center;
			font-size:14px;
			color:#001d7e;
			text-transform:uppercase;
			font-weight:400;
			font-family: 'Oswald', sans-serif;
		}
		
		/************THUMBS PRODUCTOS VITRINA************************/
		#thumbs_productos_vitrina {
			height:auto;
			text-align:center;
			margin:15px 7px;
		}
		
		#thumbs_productos_vitrina img {
			width:100%;
			max-width:100%;
			max-height:100%;
			padding:2px;
			background-color:#f0f0f0;
			margin:0px 0px 10px 0px;		
		}
		
		#thumbs_productos_vitrina img:hover{
			opacity:0.85;
			-webkit-transition: all 0.4s ease-in-out;
		   -moz-transition: all 0.4s ease-in-out;
		   -o-transition: all 0.4s ease-in-out;
		   -ms-transition: all 0.4s ease-in-out;
		   transition: all 0.4s ease-in-out; 
		}
		
		#thumbs_productos_vitrina .titulo_producto_vitrina {
			text-align:center;
			font-size:14px;
			color:#001d7e;
			text-transform:uppercase;
			font-weight:400;
			font-family: 'Oswald', sans-serif;
		}

		
		/*****************CONTENEDOR POR QUE ELEGIRNOS Y NOVEDADES***************/
		#fondo_horizontal_elegirnos_novedades{
			padding:0px 0px 15px;
		}
		
		/******POR QUE ELEGIRNOS******/
		#pqelegirnos {
			text-align:justify;
			padding:50px 0px;
		}
		
		#pqelegirnos h4 {
			color:#001d7e;
			margin:0px 0px 10px 0px;
			text-transform:uppercase;
			font-size:25px;
			border-bottom:0px;
			padding:30px 0px 0px 0px;
		}
		
		#pqelegirnos img {
			display:inline-block;
		}
		
		#pqelegirnos #texto_elegirnos {
			width:100%;
			padding:15px 20px 0px;
		}
		
		/*****ESPACIO NOVEDADES , ELEGIRNOS*****/
		#espacio_novedades_elegirnos {
			height:10px;
			display:none;
		}
		
		/******NOVEDADES HOME******/
		#novedades_home {
			text-align:justify;	
		}
		
		#novedades_home h4 {
			color:#001d7e;
			margin:0px 0px 10px 0px;
			text-transform:uppercase;
		}
		
		#novedades_home a {
			text-decoration:none;
			color:#000;
		}
		
		#novedades_home a:hover {
			color:#001d7e;
		}
		
		#novedades_home #thumbs_novedades_home {
			width:100%;
			height:auto;
			padding:6px;
			border-bottom:1px solid #C7C7C7;
			margin-bottom:10px;
		}
		
		#novedades_home #thumbs_novedades_home:hover {
			background-color:#EFEFEF;
			-webkit-transition: all 0.4s ease-in-out;
		   -moz-transition: all 0.4s ease-in-out;
		   -o-transition: all 0.4s ease-in-out;
		   -ms-transition: all 0.4s ease-in-out;
		   transition: all 0.4s ease-in-out;
		   border-radius:10px;
		}
		
		#novedades_home #thumbs_novedades_home span {
			color:#000;
			font-size:20px;
			font-family: 'Oswald', sans-serif;
		}
		
		#novedades_home #thumbs_novedades_home img {
			width:100%;
			max-width:480px;
			max-height:100%;
			background-color:#E9E9E9;
			padding:2px;
			margin-right:15px;
			margin-bottom:10px;
		}		
		
		/*****************SECCION NUESTROS CLIENTES*********************/
		#fondo_horizontal_nclientes {
			padding:10px 0px 20px 0px;
		}
		
		#titulo_nclientes {
			text-align:center;
			margin-bottom:15px;
			font-size:24px;
			color:#164093;
			font-family: 'Oswald', sans-serif;
			padding:5px 0px;
		}
		
		#fotos_clientes {
			padding:0px;
		}
		
		/********************CREDITOS*************************/
		footer#fondo_horizontal_creditos {
			height:auto;
			background-color:#1a2540;
			padding-top:22px;
			padding-bottom:22px;
		}
		
		#creditos{
			text-align:center;
			color:#FFF;
			font-weight:400;
			font-size:12px;
		}
		
		#creditos a{
			color:#b2b2b2;
		}
		
		#creditos a:hover{
			color:#F1F1F1;
			-webkit-transition: color 0.4s ease-in-out;
		   -moz-transition: color 0.4s ease-in-out;
		   -o-transition: color 0.4s ease-in-out;
		   -ms-transition: color 0.4s ease-in-out;
		   transition: color 0.4s ease-in-out;
		}
		
		address#ancho_address {
			width:auto;
			float:left
		}
		
		#espacio_credito {
			height:10px;
			display:none;
		}
		
		/*FORMULARIOS*/
		
		.i_text{
			width: 400px !important;
			height: 30px;
			padding: 0px 5px 5px 5px;

		}
		
		.i_combo{
			width: 390px;
			height: 30px;
			padding: 0px 0px 0px 5px;

		}
		
		textarea{
			color:#333;
			padding-left:5px;
			width: 400px !important;
			height: 25px;
		}
		
		.politicas_uso{
			width:390px;
			height:100px;
			overflow:auto;
			padding:10px;
		}
		
		/*******************************CONTENIDO DEL SITIO*******************/
		.contenido img {
			max-width:400px;
			max-height:100%;
			margin-top:0px;
			margin-bottom:10px;
			margin-left:0px;
			margin-right:0px;
		}
		
		/* This rule is read by Galleria to define the gallery height: */
		#galleria{height:465px !important;}
		
		/****************CONTENEDOR FOTOS VISTAS PRODUCTOS y FICHA TECNICA************/
		#fotos_productos {
			text-align:center;
			margin:0px 0px 20px 0px;
		}
	
		#caracteristicas_tecnicas {
			text-align:justify;
			margin:0px 0px 20px 0px;
		}
		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) X 300px*/
	/*Para Smartphone*/
	@media only screen and (max-width: 479px) {
		
		/****TITULO INTERNA x 300********/
		h1 {
			font-size:18px !important; /*26*/
			margin-top:10px !important;
		}
		
		/*******************************HEAD**********************/
		#logo {
			text-align:center;
			height:auto;
			margin-top:16px;
		}
		
		#logo img {
			width:100%;
			max-width:220px;
			max-height:100%;
		}
		
		#espacio1_head {
			height:10px;
			display:none;
		}
		
		/*******CONTENEDOR MENU SUEPRIOR*******/
		nav h2{
			display:none;
		}
		
		#barramenu {
			height:auto;
			margin-top:5px;
		}
		
		/*************************CONTENEDOR COMUNÃQUESE Y DISTRIBUIDORES HOME**********************************/
		section#fondo_horizontal_ltelefonica_distrib_home {
			padding:15px 0px;
		}
		
		#comuniquese_nosotros {
			text-align:center;
			position:relative;
			font-family: 'Oswald', sans-serif;
			height:130px;
		}
		
		#comuniquese_nosotros img {
			width:100%;
			max-width:220px;
			max-height:100%;
			display:inline-block;
			vertical-align:middle;
		}
		
		#telefonos {
			position:absolute;
			top:70px;
			right:100px;
			padding-left:30px;
			text-align:right;
			font-style:italic;
			font-size:30px;
			color:#334B98;	
		}
		
		#texto_ciudad {
			position:absolute;
			bottom:0px;
			right:100px;
			text-align:right;
			font-style:italic;
			font-size:15px;
			color:#87868a;
		}
		
		#espacio_ltelefonica_distrib_home {
			height:10px;
			display:none;
		}
		
		#contenedor_distribuidores_home {
			text-align:justify;
		}
		
		#contenedor_distribuidores_home h5 {
			color:#001d7e;
			font-style:italic;
		}
		
		#contenedor_distribuidores_home img {
			width:100%;
			max-width:100%;
			max-height:100%;
			display:inline-block;
			vertical-align:middle;
		}		
		
		/*************************CONTENEDOR FONDO HORIZONTAL PRODUCTOS, SERVICIOS Y CERTIFICACIÃ“N HOME**********************************/
		section#fondo_horizontal_productos_home {
			background-color:#cff0ff;
			padding:25px 0px 30px;
		}
		
		#thumbs_productos_destacados_home {
			height:auto;
			text-align:center;
			margin-left:0px;
			margin-right:0px;
			margin:0px 0px 30px;
			color:#3c3c3c;
		}
		
		/*****************CONTENEDOR POR QUE ELEGIRNOS Y NOVEDADES***************/
		#fondo_horizontal_elegirnos_novedades{
			padding:0px 0px 15px;
		}
		
		/******POR QUE ELEGIRNOS******/
		#pqelegirnos {
			text-align:justify;
			padding:50px 0px;
		}
		
		#pqelegirnos h4 {
			color:#001d7e;
			margin:0px 0px 10px 0px;
			text-transform:uppercase;
			font-size:25px;
			border-bottom:0px;
			padding:30px 0px 0px 0px;
		}
		
		#pqelegirnos img {
			display:inline-block;
		}
		
		#pqelegirnos #texto_elegirnos {
			width:100%;
			padding:15px 20px 0px;
		}
		
		/*****ESPACIO NOVEDADES , ELEGIRNOS*****/
		#espacio_novedades_elegirnos {
			height:10px;
			display:none;
		}
		
		/******NOVEDADES HOME******/
		#novedades_home {
			text-align:justify;	
		}
		
		#novedades_home h4 {
			color:#001d7e;
			margin:0px 0px 10px 0px;
			text-transform:uppercase;
		}
		
		#novedades_home a {
			text-decoration:none;
			color:#000;
		}
		
		#novedades_home a:hover {
			color:#001d7e;
		}
		
		#novedades_home #thumbs_novedades_home {
			width:100%;
			height:auto;
			padding:6px;
			border-bottom:1px solid #C7C7C7;
			margin-bottom:10px;
		}
		
		#novedades_home #thumbs_novedades_home:hover {
			background-color:#EFEFEF;
			-webkit-transition: all 0.4s ease-in-out;
		   -moz-transition: all 0.4s ease-in-out;
		   -o-transition: all 0.4s ease-in-out;
		   -ms-transition: all 0.4s ease-in-out;
		   transition: all 0.4s ease-in-out;
		   border-radius:10px;
		}
		
		#novedades_home #thumbs_novedades_home span {
			color:#000;
			font-size:20px;
			font-family: 'Oswald', sans-serif;
		}
		
		#novedades_home #thumbs_novedades_home img {
			width:100%;
			max-width:300px;
			max-height:100%;
			background-color:#E9E9E9;
			padding:2px;
			margin-right:15px;
			margin-bottom:10px;
		}
		
		/*****************CONTENEDOR PUBLICIDAD HOME****************/
		#contenedor_publicidad_home {
			text-align:center;			
			display:none;
		}
		
		/*****************SECCION NUESTROS CLIENTES*********************/
		#fondo_horizontal_nclientes {
			padding:10px 0px 20px 0px;
		}
		
		#titulo_nclientes {
			text-align:center;
			margin-bottom:15px;
			font-size:24px;
			color:#164093;
			font-family: 'Oswald', sans-serif;
			padding:5px 0px;
		}
		
		#fotos_clientes {
			padding:0px;
		}
		
		/************CONTENEDOR BARRA DERECHA***********/
		#barraderecha {
			text-align:center;
			margin-top:20px;
		}
		
		#barraderecha img {
			width:100%;
			max-width:220px;
			max-height:100%;
		}
		
		/*******************************************THUMBS CONTENIDOS INDICE****************************/
		.thumbs_contenidos_indice img#foto_indice {
			width:100%;
			max-width:300px;
			max-height:100%;
			margin-right:0px;
			margin-bottom:10px;
			margin-top:0px;
			margin-left:0px;
		}
		
		/************THUMBS PRODUCTOS VITRINA INDICE - CATEGORIA************************/
		#thumbs_productos_indice {
			height:auto;
			text-align:center;
			margin:15px 0px;
		}
		
		#thumbs_productos_indice img {
			width:100%;
			max-width:100%;
			max-height:100%;
			padding:2px;
			background-color:#f0f0f0;
			margin:0px 0px 10px 0px;		
		}
		
		#thumbs_productos_indice img:hover{
			opacity:0.85;
			-webkit-transition: all 0.4s ease-in-out;
		   -moz-transition: all 0.4s ease-in-out;
		   -o-transition: all 0.4s ease-in-out;
		   -ms-transition: all 0.4s ease-in-out;
		   transition: all 0.4s ease-in-out; 
		}
		
		#thumbs_productos_indice .titulo_producto_indice {
			text-align:center;
			font-size:14px;
			color:#001d7e;
			text-transform:uppercase;
			font-weight:400;
			font-family: 'Oswald', sans-serif;
		}
		
		/************THUMBS PRODUCTOS VITRINA************************/
		#thumbs_productos_vitrina {
			height:auto;
			text-align:center;
			margin:15px 7px;
		}
		
		#thumbs_productos_vitrina img {
			width:100%;
			max-width:100%;
			max-height:100%;
			padding:2px;
			background-color:#f0f0f0;
			margin:0px 0px 10px 0px;		
		}
		
		#thumbs_productos_vitrina img:hover{
			opacity:0.85;
			-webkit-transition: all 0.4s ease-in-out;
		   -moz-transition: all 0.4s ease-in-out;
		   -o-transition: all 0.4s ease-in-out;
		   -ms-transition: all 0.4s ease-in-out;
		   transition: all 0.4s ease-in-out; 
		}
		
		#thumbs_productos_vitrina .titulo_producto_vitrina {
			text-align:center;
			font-size:14px;
			color:#001d7e;
			text-transform:uppercase;
			font-weight:400;
			font-family: 'Oswald', sans-serif;
		}

		/********************CREDITOS*************************/
		footer#fondo_horizontal_creditos {
			height:auto;
			background-color:#1a2540;
			padding-top:22px;
			padding-bottom:22px;
		}
		
		#creditos{
			text-align:center;
			color:#FFF;
			font-weight:400;
			font-size:12px;
		}
		
		#creditos a{
			color:#b2b2b2;
		}
		
		#creditos a:hover{
			color:#F1F1F1;
			-webkit-transition: color 0.4s ease-in-out;
		   -moz-transition: color 0.4s ease-in-out;
		   -o-transition: color 0.4s ease-in-out;
		   -ms-transition: color 0.4s ease-in-out;
		   transition: color 0.4s ease-in-out;
		}
		
		address#ancho_address {
			width:auto;
			float:left
		}
		
		#espacio_credito {
			height:10px;
			display:none;
		}
				
			
		/*FORMULARIOS*/
		.i_text{
			width: 280px !important;
			height: 30px;
			padding: 0px 5px 5px 5px;
		}
		
		.i_combo{
			width: 280px !important;
			height: 30px;
			padding: 0px 0px 0px 5px;
		}
		
		textarea{
			color:#333;
			padding-left:5px;
			width: 280px !important;
			height: 25px;
		}
		.politicas_uso{
			width:250px;
			height:100px;
			overflow:auto;
			padding:10px;
		}
		
		/*******************************CONTENIDO DEL SITIO*******************/
		.contenido img {
			max-width:300px;
			max-height:100%;
			margin-top:0px;
			margin-bottom:10px;
			margin-left:0px;
			margin-right:0px;
		}
		
		/* This rule is read by Galleria to define the gallery height: */
		#galleria{height:350px !important;}
		
		/****************CONTENEDOR FOTOS VISTAS PRODUCTOS y FICHA TECNICA************/
		#fotos_productos {
			text-align:center;
			margin:0px 0px 20px 0px;
		}
	
		#caracteristicas_tecnicas {
			text-align:justify;
			margin:0px 0px 20px 0px;
		}
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
